<section id="workshop">
<div class="container">
<div class="card col s8 offset-s2">
  <div class="card-content">
    <h3>Thanks for your interest in Coder Factory!</h3>
    <h4>Enter to win 2 free tickets to an exclusive film screening.</h4>
    <%= render 'form' %>
  </div>
</div>
</section>
