<%= simple_form_for(@women_in_tech_scholarship) do |f| %>
  <div class="card">
    <div class="card-content">
      <center>
        <!--[if lte IE 8]>
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
          <![endif]-->
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
          <script>
hbspt.forms.create({ 
  portalId: '2106109',
  formId: '6b61574e-cba1-4c92-bee7-cfecffb52e7d'
});
          </script>
      </center>
    </div>
  </div>

<% end %>
