<div class="container">
<div class="col s8 offset-s2">
  <br>
  <h2>Women in Tech Scholarship Application</h2>
    <p>A huge part of Coder Factory Academy’s mission is to resolve the underrepresentation of Women in Tech. We experience it firsthand with student applications and feel its repercussions across the industry. Only ~15% of technical roles are currently filled by women. Without any changes, the gap will continue to widen.</p>
    <p>The demand for tech talent increases every day along with a growing dependence on technology across industries. Women must have access to the skills they need to innovate and excel in the modern workforce. That’s why we’ve created a scholarship only available to our female applicants. One woman from each of our fast-track coding courses (Diploma of Software Development ICT 50715) will receive a scholarship covering 80% of tuition fees.</p>
  <%= render "form" %>
</div>
</div>
