<section>
<div class="container">
  <div class="row">
    <h2>Join an info night!</h2>
    <iframe class="z-depth-1"  src="//eventbrite.com.au/tickets-external?eid=20030619121&ref=etckt" frameborder="0" height="250" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
  </div>
</div>
</section>
