<section class="container">
<h3>Why you should choose the Fast Track Bootcamp.</h3>
<table class="bordered highlight centered">
  <thead>
    <tr>
      <th width="20%"></th>
      <th width="20%">University</th>
      <th width="20%">College <br>(TAFE, private college)</th>
      <th width="20%">Traditional Bootcamp</th>
      <th width="20%" class="green lighten-4 green-text">Coder Factory Academy<br>Fast Track Bootcamp</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="grey lighten-2">Qualification</th>
      <td><i class="fa fa-check fa-2x green-text"></i><br>Bachelor of IT</td>
      <td><i class="fa fa-check fa-2x green-text"></i><br>Diploma of IT</td>
      <td><i class="fa fa-times fa-2x red-text"></i></td>
      <td class="green lighten-4 green-text bold"><i class="fa fa-check fa-2x green-text"></i><br>Diploma of Software Development</td>
    </tr>
    <tr>
      <th class="grey lighten-2">Cost</th>
      <td>$40 000</td>
      <td>$20 000</td>
      <td>$11 000</td>
      <td class="green lighten-4 green-text bold">$19700<BR>FEE-HELP Available</td>
    </tr>
    <tr>
      <th class="grey lighten-2">Time commitment</th>
      <td>3+ years</td>
      <td>1+ years</td>
      <td>3 months</td>
      <td class="green lighten-4 green-text bold">6 months</td>
    </tr>
    <tr>
      <th class="grey lighten-2">Likely job outcomes</th>
      <td>Corporate graduate program</td>
      <td>IT Support</td>
      <td>Developer Internship</td>
      <td class="green lighten-4 green-text bold">Junior Developer</td>
    </tr>
    <tr>
      <th class="grey lighten-2">Computer science fundamentals</th>
      <td><i class="fa fa-check fa-2x green-text"></td>
      <td>Some</td>
      <td><i class="fa fa-times fa-2x red-text"></i></td>
      <td class="green lighten-4 green-text bold"><i class="fa fa-check fa-2x green-text"></td>
    </tr>
    <tr>
      <th class="grey lighten-2">Programming languages taught</th>
      <td>Java, C</td>
      <td>PHP</td>
      <td>Ruby on Rails</td>
      <td class="green lighten-4 green-text bold">Ruby on Rails<br>AngularJS<br>NodeJS</td>
    </tr>
    <tr>
      <th class="grey lighten-2">Developer skills</th>
      <td><i class="fa fa-times fa-2x red-text"></i></td>
      <td><i class="fa fa-times fa-2x red-text"></i></td>
      <td>Some</td>
      <td class="green lighten-4 green-text bold"><i class="fa fa-check fa-2x green-text"></td>
    </tr>
    <tr>
      <th class="grey lighten-2">Work placement</th>
      <td>Not really</td>
      <td><i class="fa fa-times fa-2x red-text"></i></td>
      <td><i class="fa fa-times fa-2x red-text"></i></td>
      <td class="green lighten-4 green-text bold"><i class="fa fa-check fa-2x green-text"></i><br>1 month work placement</td>
    </tr>
  </tbody>
</table>
<br><br>
<br><hr><br>
<h3>The Rise of Bootcamps</h3>
<table>
  <tbody>
    <tr>
      <td>
        <a href="http://lifehacker.com/will-a-programming-boot-camp-help-me-get-a-coding-job-1695422265">
        <div class="card">
          <div class="card-content black-text">
            <span class="card-title black-text">
              Bootcamps helping you get a job
            </span>
          </div>
        </div>
        </a>
      </td>
      <td>
        <a href="http://lifehacker.com/the-programming-skills-jobs-and-company-types-that-pa-1692152608">
          <div class="card">
            <div class="card-content black-text">
              <span class="card-title black-text">
                Types of Jobs expected
              </span>
            </div>
          </div>
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <a href="https://www.quora.com/Programming-Bootcamps/Self-study-vs-Boot-camp-Starting-from-zero-can-self-study-achieve-the-same-goal-become-dev-at-a-decent-west-coast-company-as-attending-a-boot-camp">
          <div class="card">
            <div class="card-content black-text">
              <span class="card-title black-text">
                Self Study vs Bootcamps
              </span>
            </div>
          </div>
        </a>
      </td>
      <td>
        <a href="http://qz.com/533427/coding-bootcamp-grads-boost-their-salaries-by-40-on-average-2/">
          <div class="card">
            <div class="card-content black-text">
              <span class="card-title black-text">
                Bootcamp Graduate Statistics
              </span>
            </div>
          </div>
        </a>
      </td>
    </tr>
  </tbody>
</table>
</section>
