<section class="white hide-on-small-only">
<div class="container">
  <h3>How Our Coding Bootcamp Stacks Up</h3>
      <table class="bordered highlight centered z-depth-1">
        <thead>
          <tr>
            <th width="20%"></th>
            <th width="20%">University</th>
            <th width="20%">College <br>(TAFE, private college)</th>
            <th width="20%">Traditional Bootcamp</th>
            <th width="20%" class="green lighten-4 black-text">Coder Factory Academy<br>Fast Track Bootcamp</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="grey lighten-2">Qualification</th>
            <td><i class="fa fa-check fa-2x green-text"></i><br>Bachelor of IT</td>
            <td><i class="fa fa-check fa-2x green-text"></i><br>Diploma of IT</td>
            <td><i class="fa fa-times fa-2x red-text"></i></td>
            <td class="green lighten-4 black-text bold"><i class="fa fa-check fa-2x green-text"></i><br>Diploma of Software Development</td>
          </tr>
          <tr>
            <th class="grey lighten-2">Cost</th>
            <td>$40 000<br>FEE-HELP Available</td>
            <td>$20 000<br>VET FEE-HELP Available</td>
            <td>$11 000</td>
            <td class="green lighten-4 black-text bold">$19700<br>VET FEE-HELP Available</td>
          </tr>
          <tr>
            <th class="grey lighten-2">Time commitment</th>
            <td>3+ years</td>
            <td>1+ years</td>
            <td>3 months</td>
            <td class="green lighten-4 black-text bold">6 months+</td>
          </tr>
          <tr>
            <th class="grey lighten-2">Likely job outcomes</th>
            <td>Corporate graduate program</td>
            <td>IT Support</td>
            <td>Developer Internship</td>
            <td class="green lighten-4 black-text bold">Junior Developer</td>
          </tr>
          <tr>
            <th class="grey lighten-2">Computer science fundamentals</th>
            <td><i class="fa fa-check fa-2x green-text"></td>
            <td>Some</td>
            <td><i class="fa fa-times fa-2x red-text"></i></td>
            <td class="green lighten-4 black-text bold"><i class="fa fa-check fa-2x green-text"></td>
          </tr>
          <tr>
            <th class="grey lighten-2">Programming language focus</th>
            <td>Java, C</td>
            <td>PHP</td>
            <td>Ruby on Rails</td>
            <td class="green lighten-4 black-text bold">Ruby on Rails<br>AngularJS<br>NodeJS</td>
          </tr>
          <tr>
            <th class="grey lighten-2">Developer skills</th>
            <td><i class="fa fa-times fa-2x red-text"></i></td>
            <td><i class="fa fa-times fa-2x red-text"></i></td>
            <td>Some</td>
            <td class="green lighten-4 black-text bold"><i class="fa fa-check fa-2x green-text"></td>
          </tr>
          <tr>
            <th class="grey lighten-2">Work placement</th>
            <td>Not really</td>
            <td><i class="fa fa-times fa-2x red-text"></i></td>
            <td><i class="fa fa-times fa-2x red-text"></i></td>
            <td class="green lighten-4 black-text bold"><i class="fa fa-check fa-2x green-text"></i><br>1 month work placement</td>
          </tr>
        </tbody>
      </table>
      <br><br>
      <br><br>
    </div>
</section>
