<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br><br><br>
        <h1 class="header center white-text ">Australia's only accredited <br> coding bootcamp.</h1>
        <div class="row center">
          <h5 class="header col s12 light">Apply here for the Fast Track to an exciting career in tech.</h5>
        </div>
        <div class="row center">
          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light">Apply here</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="<%= asset_path 'beginner.jpg' %>" alt="Unsplashed background img 1"></div>
  </div>