<div class="section">
<br>
<!--   Icon Section   -->
<div class="row">
  <div class="col s12 m4">
    <div class="icon-block">
      <h2 class="center blue-text text-darken-4">
        <i class="fa fa-university"></i>
      </h2>
      <h5 class="center">Nationally Accredited</h5>
      <p class="flow-text center">Earn yourself a Diploma in Software Development. VET FEE-HELP is available to eligible students.</p>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="icon-block">
      <h2 class="center red-text">
        <i class="fa fa-train"></i>
      </h2>
      <h5 class="center">Fast Track</h5>
      <p class="flow-text center">In just 6 months you can be a well paid developer in an exciting tech company.</p>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="icon-block">
      <h2 class="center green-text">	
        <i class="fa fa-globe"></i>
      </h2>
      <h5 class="center">Direct from the USA</h5>
      <p class="flow-text center">With course materials and teachers direct from Silicon Valley, your opportunities are global.</p>
    </div>
  </div>
</div>
<br>
</div>
