<section class="white">
<br>
<!--   Icon Section   -->
<div class="row">
  <div class="col s12 m4">
    <div class="icon-block">
      <h2 class="center" id="logo-blue-text">
        <i class="fa fa-university"></i>
      </h2>
      <h5 class="center">Nationally Accredited</h5>
      <p class="flow-text center">Learn to code and earn yourself a Diploma in Software Development. VET FEE-HELP is available to eligible students.</p>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="icon-block">
      <h2 class="center" id="logo-blue-text">
        <i class="fa fa-train"></i>
      </h2>
      <h5 class="center">Fast Track</h5>
      <p class="flow-text center">Become a well paid developer in a reputable tech company in only 24 weeks. Gain one month of real-world experience with our guaranteed internship placement.</p>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="icon-block">
      <h2 class="center" id="logo-blue-text">	
        <i class="fa fa-globe"></i>
      </h2>
      <h5 class="center">Direct from the USA</h5>
      <p class="flow-text center">Learn programming in Sydney with course materials and teachers direct from Silicon Valley. Your opportunities are global.</p>
    </div>
  </div>
</div>
<br>
</section>
