<section>
<div class="container">
  <div class="row">
    <div class="col s12">
      <h3>AUSTRALIA'S FIRST CODING BOOTCAMP</h3>
      <h5>LAUNCH YOUR DREAM CAREER IN TECH WITH OUR NATIONALLY ACCREDITED CODING COURSE</h5>
      <hr>
      <div class="row">
        <div class="col m12">
          <h5>WHAT IS A CODING BOOTCAMP?</h5>
          <p class="left-align light">Australia, meet your new alternative to traditional university degrees! Coding bootcamps began in the US a few years ago to keep up with the tech industry’s increasing demand for web developers. Through hands-on, project-based coursework, the intensive model provides a time and cost efficient way to become an employable full stack developer.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="col m12">
          <h5>WHY CODER FACTORY ACADEMY?</h5>
          <p class="left-align light">Coder Factory Academy teaches you the in-demand skills you need to be a well-rounded developer. Our students learn directly from industry experts using project-based coursework from proven bootcamps in Silicon Valley.  Each student also partakes in a one-month guaranteed internship placement with a reputable technology company. Not only does Coder Factory Academy equip our students with relevant programming skills, we also specialise in job preparation skills and computer science fundamentals.</p>
        </div>
      </div>
    </div>
    <center>
      <a href="/about"class="btn-large info-session-button black-text waves-effect waves-light">LEARN MORE</a>
    </center>
    <br>
    <hr>
  </div>
</div>
<div class="container">
  <div class="video-container">
    <iframe src="https://player.vimeo.com/video/150737851?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <hr>
    <div class="col s3">
      <a href="/vet-fee-help">
        <%= image_tag 'VET.png', class: 'responsive-img' %>
      </a>
    </div>
    <div class="col s3 offset-s1">
      <%= image_tag 'nrt.png', class: 'responsive-img' %>
    </div>
    <div class="col s3 offset-s1">
      <%= image_tag 'aqf.png', class: 'responsive-img' %>
      <br>
    </div>
  </div>
</div>
</section>
