<div class="container">
<div class="section">

  <div class="row">
    <div class="col s12">
      <h3>Coder Factory Academy's Coding Bootcamp</h3>
      <h4>Technology of the future in a nationally accredited program.</h4>
      <hr>
      <div class="row">
        <div class="col m12">
          <h5>What is a bootcamp?</h5>
          <p class="left-align light">Coding Boot camps are a brand new development in Australia but have been running successfully in the US for the past 2 years. They sprung up due to the immense need for programmers in the rapidly expanding tech industry and due to the fact that Universities and Colleges just can’t produce graduates fast enough to meet the demands.</p>
          <p class="left-align light">Coding Boot camps are a spring-board for your career in the tech industry and are a time/cost efficient way to test your compatibility with a future in the world of innovation.</p>
        </div>
        <div class="col m12">
          <h5>Why Coder Factory Academy?</h5>
          <p class="left-align light">Other bootcamps are too short and employers are telling us their graduates don't have enough computer science knowledge. Coder Factory Academy doesn't just teach you coding, you learn developer skills and computer science fundamentals too.</p>
        </div>
      </div>

    </div>
    <br><hr><br>

    <div class="row">
      <div class="col s3">
        <%= image_tag 'VET.png', class: 'responsive-img' %>
      </div>
      <div class="col s3 offset-s1">
        <%= image_tag 'nrt.png', class: 'responsive-img' %>
      </div>
      <div class="col s3 offset-s1">
        <%= image_tag 'aqf.png', class: 'responsive-img' %>
        <br>
      </div>
    </div>
  </div>
  <hr>
</div>
</div>
