<div class="container">
<div class="section">

  <div class="row">
    <div class="col s12">
      <h3>Coder Factory Academy's Coding Boot Camp</h3>
      <h4>Technology of the future in a nationally accredited program.</h4>
      <hr>
      <div class="row">
        <div class="col m12">
          <h5>What is a Boot Camp?</h5>
          <p class="left-align light">Coding Boot Camps are a brand new development in Australia but have been running successfully in the US for the past 2 years. They sprung up due to the immense need for programmers in the rapidly expanding tech industry and due to the fact that Universities and Colleges just can’t produce graduates fast enough to meet the demands.</p>
          <p class="left-align light">Coding Boot Camps are a spring-board for your career in the tech industry and are a time/cost efficient way to test your compatibility with a future in the world of innovation.</p>
        </div>
      </div>

    </div>
  </div>
</div>
</div>
