<section class="white">
<div class="container">
	<h2>What you'll learn</h2>
	<div class="row">
		<div class="col m4 s12">
			<div class="row">
				<div class="col s3">
					<h5 class="blue-text text-darken-4">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-fighter-jet fa-stack-1x fa-inverse"></i>
					</span>
					</h5>
				</div>
				<div class="col s9">
				<p><span class="bold">AGILE METHODOLOGY</span><br>
					Sprint Based Learning means you're an expert by graduation.</p>
				</div>
			</div>
		</div>
		<div class="col m4 s12">
			<div class="row">
				<div class="col s3">
					<h5 class="blue-text text-darken-4">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-shield fa-stack-1x fa-inverse"></i>
					</span>
					</h5>
				</div>
				<div class="col s9">
				<p><span class="bold">JAVASCRIPT FRAMEWORKS</span><br>
				Learn the hottest JavaScript frameworks - AngularJS + NodeJS.</p>
				</div>
			</div>
		</div>
		<div class="col m4 s12">
			<div class="row">
				<div class="col s3">
					<h5 class="blue-text text-darken-4">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-users fa-stack-1x fa-inverse"></i>
					</span>
					</h5>
				</div>
				<div class="col s9">
				<p><span class="bold">TEAM WORK</span><br>
				Your team competes for code quality glory every day.

				</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col m4 s12">
			<div class="row">
				<div class="col s3">
					<h5 class="blue-text text-darken-4">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-code fa-stack-1x fa-inverse"></i>
					</span>
					</h5>
				</div>
				<div class="col s9">
				<p><span class="bold">WEB PROGRAMMING</span><br>
				Ruby on Rails mastery is your ticket to developer fame and fortune.</p>
				</div>
			</div>
		</div>
		<div class="col m4 s12">
			<div class="row">
				<div class="col s3">
					<h5 class="blue-text text-darken-4">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-cubes fa-stack-1x fa-inverse"></i>
					</span>
					</h5>
				</div>
				<div class="col s9">
				<p><span class="bold">PROJECTS</span><br>
					Complete a project every two weeks for a top rate portfolio.
				</p>
				</div>
			</div>
		</div>
		<div class="col m4 s12">
			<div class="row">
				<div class="col s3">
					<h5 class="blue-text text-darken-4">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-tablet fa-stack-1x fa-inverse"></i>
					</span>
					</h5>
				</div>
				<div class="col s9">
				<p><span class="bold">UX & DESIGN</span><br>
					Front end programming while keeping the user in mind.
				</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col m4 s12">
			<div class="row">
				<div class="col s3">
					<h5 class="blue-text text-darken-4">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-puzzle-piece fa-stack-1x fa-inverse"></i>
					</span>
					</h5>
				</div>
				<div class="col s9">
				<p><span class="bold">APPLICATION ARCHITECTURE</span><br>
					Understand how all the pieces of an application fit together.</p>
				</div>
			</div>
		</div>
		<div class="col m4 s12">
			<div class="row">
				<div class="col s3">
					<h5 class="blue-text text-darken-4">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
					</span>
					</h5>
				</div>
				<div class="col s9">
				<p><span class="bold">SYSOPS</span><br>
					Managing cloud based application infrastructure and resources.
				</p>
				</div>
			</div>
		</div>
		<div class="col m4 s12">
			<div class="row">
				<div class="col s3">
					<h5 class="blue-text text-darken-4">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
					</span>
					</h5>
				</div>
				<div class="col s9">
				<p><span class="bold">HTML & CSS</span><br>
					The bones wrapped around every type of Web App.
				</p>
				</div>
			</div>
		</div>
	</div>
</div>
</section>