<section class="white">
<div class="container">
  <div class="row">
    <div class="col m12 s12">
      <div class="col s12 m12 offset-m">
        <h2 class="grey-text text-darken-2">OUR NETWORK IS YOUR NETWORK</h2>
        <div class="row">
          <div class="hide-on-med-and-up">
            <%= render "mobile_partner_icons" %>
          </div>
          <div class="hide-on-small-only">
            <%= render "desktop_partner_icons" %>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12">
      <center>
        <a href="/partners" class="btn-large black-text info-session-button waves-effect waves-light">DISCOVER MORE</a>
      </center>
    </div>
    <%# Slider for industry quotes. Uncomment when quotes fixed. %>
    <%# <div class="col m6 s12"> %>
      <%# <div class="col m10 s12"> %>
        <%# <div class="slider" id="industry-slider"> %>
          <%# <ul class="slides"> %>
            <%# <li class="white"> %>
              <%# <div class="container" id="slide-container"> %>
                <%# <center> %>
                  <%# <h5>“Most Boot Camp courses are too short to include much needed logical thinking foundations and critical problem solving methodologies. CFA is a good length to mix these skills with hands on programming language applications.”</h5> %>
                  <%# </center> %>
                <%# </div> %>
              <%# </li> %>
            <%# <li class="white"> %>
              <%# <div class="container" id="slide-container"> %>
                <%# <center> %>
                  <%# <h5>“The teaching of Node, Ruby and mobile applications is much needed at XXXX and there is a growing demand of these skill sets in the tech industry in general.”</h5> %>
                  <%# </center> %>
                <%# </div> %>
              <%# </li> %>
            <%# <li class="white"> %>
              <%# <div class="container" id="slide-container"> %>
                <%# <center> %>
                  <%# <h5>“It is great to see the curriculum offered in the US now available here in Australia giving graduates the opportunity to work with cutting edge startups and organisations with their eyes on global growth.”</h5> %>
                  <%# </center> %>
                <%# </div> %>
              <%# </li> %>
            <%# </div> %>
          <%# </div> %>
    </div>
  </div>
</section>
