<section class="white">
<div class="container">
  <div class="row">
    <div class="col m12 s12">
      <div class="col s12 m12 offset-m">
        <h2 class="grey-text text-darken-2">OUR NETWORK IS YOUR NETWORK</h2>
        <div class="row">
          <div class="hide-on-med-and-up">
            <%= render "shared/mobile_partner_icons" %>
          </div>
          <div class="hide-on-small-only">
            <%= render "shared/desktop_partner_icons" %>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12">
      <center>
        <a href="/partners" class="btn-large black-text info-session-button waves-effect waves-light">DISCOVER MORE</a>
      </center>
    </div>
  </div>
</div>
</section>
