<section class="grey lighten-2">
<div class="container center">
  <h3>Coder Factory Academy in the press</h3>
  <div class="row">
    <div class="col s3">
      <a href="https://www.youtube.com/watch?v=OW1djJd9Fu0" target="_blank">
            <img src="<%= asset_path 'abc.png' %>" class="responsive-img">
      </a>
    </div>
    <div class="col s3">
      <a href="http://www.businessinsider.com.au/5-reasons-why-learning-to-code-will-give-you-an-edge-at-work-2015-5" target="_blank">
            <img src="<%= asset_path 'businessinsiderlogo.png' %>" class="responsive-img">
      </a>
    </div>
    <div class="col s3">
      <a href="http://www.cio.com.au/article/590465/breaking-down-barriers-tech-education/" target="_blank">
            <img src="<%= asset_path 'cio_logo.png' %>" class="responsive-img">
      </a>
    </div>
    <div class="col s3">
      <a href="http://www.businessinsider.com.au/coder-factory-launches-first-accredited-coding-bootcamp-2015-12" target="_blank">
            <img src="<%= asset_path 'businessinsiderlogo.png' %>" class="responsive-img">
      </a>
    </div>
  </div>
</div>
</section>
