<section class="grey lighten-2">
<div class="container">
  <h3>Coder Factory Academy in the press</h3>
  <hr>
  <div class="row">
    <div class="col m3 s6">
      <a href="https://www.youtube.com/watch?v=OW1djJd9Fu0" target="_blank"><img src="<%= asset_path 'abc.png' %>" class="responsive-img"></a>
    </div>
    <div class="col m3 s6">
      <a href="http://www.businessinsider.com.au/coder-factory-launches-first-accredited-coding-bootcamp-2015-12" target="_blank"><%= image_tag 'businessinsiderlogo.png', class: 'responsive-img' %></a>
    </div>
    <div class="col m3 s6">
      <a href="http://www.cio.com.au/article/590465/breaking-down-barriers-tech-education/" target="_blank"><%= image_tag 'cio_logo.png', class: 'responsive-img' %></a>
    </div>
    <div class="col m3 s6">
      <a href="http://www.startupsmart.com.au/technology/silicon-valley-style-coding-boot-camps-taking-off-in-australia/2016010416192.html" target="_blank"><%= image_tag 'startupsmartlogo.png', class: 'responsive-img' %></a>
    </div>
  </div>
</div>
</section>
