<section class="grey lighten-2">
<div class="container center">
  <h3>Coder Factory Academy in the press</h3>
  <hr>
  <div class="row">
    <div class="col s3 offset-s2 center">
      <a href="https://www.youtube.com/watch?v=OW1djJd9Fu0" target="_blank"><%= image_tag 'abc.png', class: 'responsive-img' %></a>
    </div>
    <div class="col s3 offset-s1 center">
      <a href="http://www.businessinsider.com.au/5-reasons-why-learning-to-code-will-give-you-an-edge-at-work-2015-5" target="_blank"><%= image_tag 'businessinsiderlogo.png', class: 'responsive-img' %></a>
      <br>
    </div>
  </div>
</div>
</section>
