<section>
<div class="conatiner">
  <div class="row">
    <div class="col s10 offset-s1">
      <h3>The Rise of Bootcamps</h3>
      <table>
        <thead>
          <tr>
            <th width="50%"></th>
            <th width="50%"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <a href="http://lifehacker.com/will-a-programming-boot-camp-help-me-get-a-coding-job-1695422265" target="_blank">
                <div class="card medium">
                  <div class="card-image">
                    <img src="<%= asset_path 'lifehacker1.jpg' %>">
                  </div>
                  <div class="card-content black-text">
                    <span class="card-title black-text">
                      Bootcamps helping you get a job
                    </span>
                  </div>
                </div>
              </a>
            </td>
            <td>
              <a href="http://lifehacker.com/the-programming-skills-jobs-and-company-types-that-pa-1692152608" target="_blank">
                <div class="card medium">
                  <div class="card-image">
                    <img src="<%= asset_path 'lifehacker2.jpg' %>">
                  </div>
                  <div class="card-content black-text">
                    <span class="card-title black-text">
                      Types of Jobs expected
                    </span>
                  </div>
                </div>
              </a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="https://www.quora.com/Programming-Bootcamps/Self-study-vs-Boot-camp-Starting-from-zero-can-self-study-achieve-the-same-goal-become-dev-at-a-decent-west-coast-company-as-attending-a-boot-camp" target="_blank">
                <div class="card medium">
                  <div class="card-image">
                    <img src="<%= asset_path 'quora.jpg' %>">
                  </div>
                  <div class="card-content black-text">
                    <span class="card-title black-text">
                      Self Study vs Bootcamps
                    </span>
                  </div>
                </div>
              </a>
            </td>
            <td>
              <a href="http://qz.com/533427/coding-bootcamp-grads-boost-their-salaries-by-40-on-average-2/" target="_blank">
                <div class="card medium">
                  <div class="card-image">
                    <img src="<%= asset_path 'qz.jpg' %>">
                  </div>
                  <div class="card-content black-text">
                    <span class="card-title black-text">
                      Bootcamp Graduate Statistics
                    </span>
                  </div>
                </div>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</section>
