<section class="grey lighten-2">
<div class="container">
  <center>
    <h3>APPLICATIONS NOW OPEN</h3>
    <h4>Next fast track bootcamp intakes in<br>Sydney (1st August) & Melbourne (12th Sept)</h4>
  <br>
  <p><a class="btn btn-large info-session-button black-text" href="/curriculum">Choose your start date</a></p>
  </center>
</div>
</section>
