<section class="grey lighten-2">
<div class="container">
  <center>
    <h2>APPLICATIONS NOW OPEN</h2>
    <h3>Next fast track bootcamp intakes in<br>Sydney (1st August) & Melbourne (12th Sept)</h3>
  <br>
  <p><a class="btn btn-large info-session-button black-text" href="/curriculum">Choose your start date</a></p>
  </center>
</div>
</section>
