<section class="grey lighten-2">
<div class="container">
  <center>
    <h1>STARTS 29TH MARCH 2016</h1>
    <h2>APPLICATIONS CLOSING SOON!</h2>
  <h3>APPLICATIONS NOW OPEN FOR SECOND SEMESTER<br>SYDNEY & MELBOURNE</h3>
  <br>
  <p><a class="btn btn-large info-session-button black-text" href="/curriculum">Choose your start date</a></p>
  </center>
</div>
</section>
