<section id="testimonials" class="grey lighten-2">
<div class="container">
  <h2>What our students say...</h2>
  <div class="row"><div class="col s12">
      <div class="slider z-depth-1" id="student-slider">
        <ul class="slides" id="slides-text">
          <li>
            <img src="<%= asset_path 'julia.jpg' %>">
            <div class="caption right-align">

              <h3>&nbsp;</h3>
              <p class="light grey-text text-lighten-3 flow-text">Learning to code changed my life.<br>I live half the year<br> in Bali as a digital nomad.</p>
              <p>- Julia Clavien, Web Designer</p>
            </div>
          </li>
          <li>
            <img src="<%= asset_path 'heloise.jpg' %>">
            <div class="caption left-align">
              <p class="light grey-text text-lighten-3 flow-text">If you want to work in tech,<br> you need to know code. <br>Coder Factory taught me how.</p>
              <p>- Héloïse Lakermance</p>
            </div>
          </li>
          <li>
            <img src="<%= asset_path 'jamie.jpg' %>">
            <div class="caption left-align" id="caption-jamie">
              <h3>&nbsp;</h3>
              <p class="light grey-text text-lighten-3 flow-text">I tried a bunch of on-line courses<br> but continuous self learning is difficult<br> without the human interaction especially<br> with the complexity involved in building<br> your own products.</p>
              <p>- Jamie Cerexhe, Entrepreneur</p>
            </div>
          </li>
          <li>
            <img src="<%= asset_path 'matthew.jpg' %>">
            <div class="caption right-align">
              <h3>&nbsp;</h3>
              <p class="light grey-text text-lighten-3 flow-text">“I now have a great understanding of the web structure and eco-system and feel a lot more confident in navigating technologies on my own.”</p>
              <p>- Matthew Raft, IT Recruitment Consultant</p>
            </div>
          </li>
        </ul>
      </div>
    </div></div></div>
</section>
