<section>
<div class="container">
  <center><img src="<%= asset_path 'women-in-tech.jpg' %>" class="responsive-img"></center>
  <div class="row">
    <h3>Women in Tech Scholarship</h3>
    <p>Here at Coder Factory we are concerned about the massive under representation of Women in Tech. We see it here at the coalface with student applications and feel it across the industry with the gap widening at an average of only 15% of technical roles filled by Women.</p>
    <p>With the huge demand for tech talent increasing and the growing dependence on technology across all industries it is a concern that so few Women are learning the skills needed to innovate and excel in the modern workforce.</p>
    <p>We are offering one position in each of our Fast Track boot camp courses (Diploma of Software Development ICT 50715) with 80% of tuition fees covered.</p>
    <p><a href="/women-in-tech/scholarship-information">Click here</a> for full details, terms and conditions for the 2016 scholarship.</p>
  </div>
</div>
<div class="container">
  <div class="row">
  <center>
    <a href="/women-in-tech/apply" class="btn-large white-text info-session-button waves-effect waves-light">APPLY NOW</a>
  </center>
  </div>
</div>
</section>
