<%= content_for :title, "Join the Fast Track to an exciting life at Coder Factory Academy" %>
<%= content_for :description, "Coder Factory Academy's Fast Track is an accelerated and revolutionary 5 month program that places you in a well paid, exciting career in the tech industry." %>
<style>
#customElement {background-image: url(<%= asset_path 'fasttrack.jpg' %>);}
</style>
<% @video_code = '04oInZW-9H4' %>
<% @header_title = "Fast Track" %>
<% @header_tagline = 'Do you have what it takes?' %>
<%# render 'layouts/top_bar' %>

<section class="white">
<div class="container">
<h2>You've been waiting for this!</h2>
<p class="flow-text">Coder Factory Academy's Fast Track is an accelerated program that gives you the experience and teaches you the skills you need for an exciting career in the tech industry.</p>
<h2>No upfront fees!</h2>
<p class="flow-text">Australian students may be eligible for FEE-HELP and don't need to pay upfront. </p>
<div class="center"><a href="/" class="btn light-blue waves-effect waves-light btn-large">Apply today</a></div>
<br><br>
</div>
</section>

<section class="light-blue right-align white-text">
	<div class="container">
		<h2>Start a career as a developer in 5 months</h2>
		<p class="flow-text">Coder Factory Academy's Fast Track is an intensive full time Diploma program that focuses on teaching the skills and providing the experience graduates will need to secure themselves a position as a developer at exciting technology companies, both here in Australia and around the world.</p>
		<h2>Internships for real world experience</h2>
		<p class="flow-text">Students will complete a one month internship at local technology companies to gain that highly sought after practical experience. There’s a great chance the company won’t want to let you go.</p>

	</div>
</section>

<section class="white">
<div class="container">
<h2>Teachers and course content direct from San Francisco</h2>
	<p class="flow-text">With teachers and course materials direct from San Francisco, students learn the latest technologies and coding frameworks that are in huge demand both locally and around the world.</p>
	<h2>Industry connections</h2>
	<p class="flow-text">At Coder Factory Academy you will meet inspiring and connected people through mentorship sessions and industry events.</p>
</div>
</section>

<section class="teal right-align white-text">
<div class="container">
<h2>Competitive application process.</h2>
<p class="flow-text">With only 20 places in each intake, competition is fierce - and only the best applicants will be accepted. The application process includes analytical thinking test, personality testing and interviews. </p>
<h2>Do you have what it takes?</h2>
<p class="flow-text">
A developer can earn amazing salaries, be provided with cool perks by the tech companies they work for and have the opportunity to work anywhere in the world.</p>
<p class="flow-text">If this lifestyle appeals to you, apply for Fast Track to see if you have what it takes.</p>
<div class="center"><a href="/" class="btn white teal-text waves-effect waves-light btn-large">Apply today</a></div>
<br><br>
</div>
</section>

<section class="white">
<div class="container">
<h2>Full recruitment services</h2>
<p class="flow-text">Coder Factory provides recruitment services for all graduates and assists with preparations for the hiring processes used by technology companies.
</p>
<h2>Education industry experience combined with startup knowhow</h2>
<p class="flow-text">Coder Factory Academy is a joint venture between the Australian Institute of Technology and Coder Factory, bringing you connections to coding bootcamp providers and technology companies in the USA.</p>
</section>

<section class="grey lighten-2">
	<div class="container">
	<h2 class="center-align">The Fast Track Program</h2>
		<div class="card grey-text text-darken-2">
			<div class="card-content">
				<div class="row">
					<div class="col m6 s12">
						<h5>Details</h5>
						<table class="bordered">
							<!-- <tr>
								<th>Qualification</th>
								<td>Diploma of Software Development</td>
							</tr> -->
							<tr>
								<th>Next start date</th>
								<td>January 2016</td>
							</tr>
							<tr>
								<th>Applications open</th>
								<td>Soon! <a href="/enquiries/new?etype=fasttrack">Enquire now</a></td>
							</tr>
							<tr>
								<th>Days</th>
								<td>Monday - Friday, 10am - 6pm</td>
							</tr>
							<tr>
								<th>Course fees</th>
								<td>$19 700<br>FEE-HELP available 
								<!-- <a href="#"><i class="material-icons">help_outline</i></a> -->
								</td>
							</tr>

						</table>
					</div>
					<div class="col m6 s12">
						<h5>Included</h5>
						<ul class="fa-ul">
							<li><i class="fa-li fa fa-check-square"></i> Intensive classroom learning + Project work (800 contact hours)</li>
							<li><i class="fa-li fa fa-check-square"></i> Passionate,  industry experienced teachers.</li>
							<li><i class="fa-li fa fa-check-square"></i> High tech learning environment, surrounded by tech startups and dev agencies</li>
							<li><i class="fa-li fa fa-check-square"></i> Industry events and excursions</li>
							<li><i class="fa-li fa fa-check-square"></i> Full recruitment support</li>
							<li><i class="fa-li fa fa-check-square"></i> Interview preparation sessions</li>
						</ul>
						<div class="center-align">
							<hr>
							<p>Applications open soon. Be the first to know.</p><br>
							<a href="/enquiries/new?etype=fasttrack" class="btn light-blue"><i class="material-icons right">send</i> Register your interest</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="white">
<div class="container">
	<h2>What you'll learn</h2>
	<div class="row">
		<div class="col m4 s12">
			<div class="row">
				<div class="col s3">
					<h5 class="light-blue-text">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-fighter-jet fa-stack-1x fa-inverse"></i>
					</span>
					</h5>
				</div>
				<div class="col s9">
				<p><span class="bold">AGILE METHODOLOGY</span><br>
					Sprint Based Learning means you're an expert by graduation.</p>
				</div>
			</div>
		</div>
		<div class="col m4 s12">
			<div class="row">
				<div class="col s3">
					<h5 class="light-blue-text">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-shield fa-stack-1x fa-inverse"></i>
					</span>
					</h5>
				</div>
				<div class="col s9">
				<p><span class="bold">JAVASCRIPT FRAMEWORKS</span><br>
				Learn the hottest JavaScript frameworks - AngularJS + NodeJS.</p>
				</div>
			</div>
		</div>
		<div class="col m4 s12">
			<div class="row">
				<div class="col s3">
					<h5 class="light-blue-text">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-users fa-stack-1x fa-inverse"></i>
					</span>
					</h5>
				</div>
				<div class="col s9">
				<p><span class="bold">TEAM WORK</span><br>
				Your team competes for code quality glory every day.

				</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col m4 s12">
			<div class="row">
				<div class="col s3">
					<h5 class="light-blue-text">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-code fa-stack-1x fa-inverse"></i>
					</span>
					</h5>
				</div>
				<div class="col s9">
				<p><span class="bold">WEB PROGRAMMING</span><br>
				Ruby on Rails mastery is your ticket to developer fame and fortune.</p>
				</div>
			</div>
		</div>
		<div class="col m4 s12">
			<div class="row">
				<div class="col s3">
					<h5 class="light-blue-text">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-cubes fa-stack-1x fa-inverse"></i>
					</span>
					</h5>
				</div>
				<div class="col s9">
				<p><span class="bold">PROJECTS</span><br>
					Complete a project every two weeks for a top rate portfolio.
				</p>
				</div>
			</div>
		</div>
		<div class="col m4 s12">
			<div class="row">
				<div class="col s3">
					<h5 class="light-blue-text">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-tablet fa-stack-1x fa-inverse"></i>
					</span>
					</h5>
				</div>
				<div class="col s9">
				<p><span class="bold">UX & DESIGN</span><br>
					Front end programming while keeping the user in mind.
				</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col m4 s12">
			<div class="row">
				<div class="col s3">
					<h5 class="light-blue-text">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-puzzle-piece fa-stack-1x fa-inverse"></i>
					</span>
					</h5>
				</div>
				<div class="col s9">
				<p><span class="bold">APPLICATION ARCHITECTURE</span><br>
					Understand how all the pieces of an application fit together.</p>
				</div>
			</div>
		</div>
		<div class="col m4 s12">
			<div class="row">
				<div class="col s3">
					<h5 class="light-blue-text">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
					</span>
					</h5>
				</div>
				<div class="col s9">
				<p><span class="bold">SYSOPS</span><br>
					Managing cloud based application infrastructure and resources.
				</p>
				</div>
			</div>
		</div>
		<div class="col m4 s12">
			<div class="row">
				<div class="col s3">
					<h5 class="light-blue-text">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
					</span>
					</h5>
				</div>
				<div class="col s9">
				<p><span class="bold">HTML & CSS</span><br>
					The bones wrapped around every type of Web App.
				</p>
				</div>
			</div>
		</div>
	</div>
</div>
</section>




  