<div class="container">
<h2>The Coder Factory team</h2>

<div class="row">
  <div class="col s12 m4">
    <div class="card">
      <div class="card-image">
        <img src="<%= asset_path 'pete.jpg' %>">
      </div>
      <div class="card-content">
        <span class="card-title light-blue-text">Pete Argent</span>
        <p>Director and Head Teacher</p>
        <p><a href="https://www.linkedin.com/in/peterargent" target="_blank">Connect with me on LinkedIn</a></p>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card">
      <div class="card-image">
        <img src="<%= asset_path 'raman.jpg' %>">
      </div>
      <div class="card-content">
        <span class="card-title light-blue-text">Raman Nambiar</span>
        <p>Strategic Partnerships</p>
        <p><%= link_to 'Get in touch with me', "/enquire" %></p>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card">
      <div class="card-image">
        <img src="<%= asset_path 'dan.jpg' %>">
      </div>
      <div class="card-content">
        <span class="card-title light-blue-text">'Twitter Dan' Siepen</span>
        <p>Social Media Maestro</p>
        <p><a href="https://twitter.com/dansiepen" target="_blank">Follow me on Twitter</a></p>
      </div>
    </div>
  </div>
</div>

</div>
