<div class="container">
<div class="column s8 offset-s2">
  <center>
    <h2>BECOME A JUNIOR DEVELOPER </h2>
  </center>
  <div class="card">
    <div class="card-content">
      <center><h5 class="card-title" id="logo-blue-text">OUR PROCESS</h5></center>
      <div class="row">
        <center>
          <div class="col m2 offset-m1 s12">
            <h5 id="logo-blue-text">
              <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
              </span>
              <br>Learn in-demand skills
            </h5>
          </div>
          <div class="col m2 s12">
            <h5 id="logo-blue-text">
              <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>
              </span>
              <br>Master full-stack development
            </h5>
          </div>
          <div class="col m2 s12">
            <h5 id="logo-blue-text">
              <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-pencil-square-o fa-stack-1x fa-inverse"></i>
              </span>
              <br>Build a portfolio
            </h5>
          </div>
          <div class="col m2 s12">
            <h5 id="logo-blue-text">
              <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
              </span>
              <br>Gain internship experience
            </h5>
          </div>
          <div class="col m2 s12">
            <h5 id="logo-blue-text">
              <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-check fa-stack-1x fa-inverse"></i>
              </span>
              <br>Land your dream job
            </h5>
          </div>
        </center>
      </div>
      <ul class="collection">
        <li class="collection-item">Transform into a job-ready developer in only 24 weeks. Our expert instructors come direct from the industry to ensure our students gain the experience required to upskill or launch straight into a lucrative career. With access to VET FEE-HELP for eligible students, you can study now and not pay a cent until you land your first job as a developer.</li>
        <li class="collection-item">Master two web stacks instead of one! Get a leg-up by mastering Ruby on Rails and part of the MEAN stack (AngularJS & Node.js). Learn how to create a backend and frontend, create and manage a database, build APIs, and much more. Dive deep into HTML, CSS, JavaScript, and Bootstrap.</li>
        <li class="collection-item">From practical programming skills to launching full-stack web apps, you’ll become an expert at solving any problem with code. Gain a competitive edge by also learning the computer science fundamentals employers want. </li>
        <li class="collection-item">Build a portfolio by working on real solutions for real companies in a collaborative, hands-on environment. Gain real-world experience as a developer. Each student participates in a one-month guaranteed, unpaid internship with one of our corporate partners, from local start-ups to large corporations.</li>
        <li class="collection-item">Graduate from the course as an entry-level developer with an average starting salary of $60k. Web developers in Australia give their jobs a 5/5 ‘Extremely Satisfied’ job satisfaction rating. Work your way up to a six-figure salary as a Senior Software Engineer, DevOps Engineer, Project Manager, or Software Architect in 2-5 years after graduating. Or choose between becoming the CTO of a start-up and living the digital nomad dream as a remote developer.</li>
      </ul>
      <center>
        <a href="/curriculum" class="btn-large info-session-button black-text waves-effect waves-light">EXPLORE OUR CURRICULUM</a>
      </center>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <span class="card-title" id="logo-blue-text">SUPPLY CAN’T KEEP UP WITH DEMAND</span>
      <ul class="collection">
        <li class="collection-item">Now is the perfect time to start a career as a web developer. There are almost 5 jobs for every 1 developer.</li>
        <li class="collection-item">It's safe to say that Australian companies do not want to see jobs going overseas, but if our graduates can't keep up with their Silicon Valley counterparts, then it's inevitable we'll see more entrepreneurs either starting their software companies in Silicon Valley or hiring the majority of their software developers outside Australia.</li>
        <li class="collection-item">In the US, there will be 1 MILLION more software developer jobs than computer science graduates by 2020. Computer programming jobs are growing at 2x the national average. In Australia, unis can’t churn out CS grads fast enough to meet industry demand.</li>
        <li class="collection-item">From startups to Fortune 100 companies, there is consistent demand for developers who write high-quality code, and experienced problem solvers who design creative solutions. Bottom line is: every company nowadays needs a developer like you!</li>
      </ul>
      <center>
        <h5>Countries where software engineers and developers are in demand</h5>
        <img src="<%= asset_path 'developers_wanted_map.jpg' %>" class="responsive-img">
        <p>Source: <a href="http://www.michaelpage.co.uk/minisite/most-in-demand-professions/" target="_blank">Michael Page</a></p>
      </center>
      <br>
      <span class="card-title" id="logo-blue-text">YOUR SUCCESS IS OUR SUCCESS</span>
      <ul class="collection">
        <li class="collection-item">There is an insatiable demand for web developers around the globe. You don’t need to be an industry insider to realise that Australia is desperately seeking software developers. Salaries in the IT sector have never been better, and job ads become more plentiful each day. That’s why we promise to be by your side until you land your first job as a developer.</li>
        <li class="collection-item">Between a portfolio, internship experience, and skillset upon graduating, you’ll have more than enough to flaunt your development expertise to potential employers. But, our instructors also mentor students in the latest hiring process skills, interview coding challenges.</li>
        <li class="collection-item">In addition to our expert instructors, industry-leaders drop in to speak to and engage students, answer questions about the industry, and offer insights on pursuing employment opportunities.</li>
        <li class="collection-item">Our guidance doesn’t stop at the classroom. Access our network of the best developers, companies, and entrepreneurs in Australia, who are hungry for full-stack developers specialising in the in-demand programming languages and frameworks our course teaches.</li>
      </ul>
      <center>
        <img src="<%= asset_path 'course_report.jpg' %>" class="responsive-img">
        <p>Source: <a href="https://www.coursereport.com/reports/2015-coding-bootcamp-job-placement-demographics-report" target="_blank">Course Report</a></p>
      </center>
      <br>
      <span class="card-title" id="logo-blue-text">BOOTCAMP GRADS vs COMP SCI GRADS</span>
      <ul class="collection">
        <li class="collection-item">Become an expert on what’s currently in-demand in the software development job market.</li>
        <li class="collection-item">Unlike a CS degree, bootcamps focus on real-world experience, and less on unnecessary theoretical jargon. Our course is faster and more cost-effective than university courses, especially with the option to access VET FEE-HELP.</li>
        <li class="collection-item">Australian universities are not producing workplace-ready engineers. Find comfort in knowing our intensive bootcamp course teaches the right languages, methodologies, processes, and problem solving concepts that the industry currently demands.</li>
        <li class="collection-item">Our project-based course is too applied, hands-on, and small-bite to fit easily into the traditional university curriculum. Working 40 hours a week in an immersive environment, bootcamp students cover a semester’s worth of material in only four days. Think of our program as a place where technology outruns education.</li>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="card-content">
  <center>
  <h3 id="logo-blue-text">WHY CHOOSE OUR GRADUATES?</h3>
    <h5 id="logo-blue-text">
      <span class="fa-stack fa-3x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-desktop fa-stack-1x fa-inverse"></i>
        <i class="fa fa-code fa-stack-1x fa-inverse stack-size-smaller"></i>
      </span>
      <br>Development skills in the most in-demand web languages and frameworks
    </h5>
    <br>
    <h5 id="logo-blue-text">
      <span class="fa-stack fa-3x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-fire fa-stack-1x fa-inverse"></i>
      </span>
      <br>Motivated individuals with a love of technology
    </h5>
    <br>
    <h5 id="logo-blue-text">
      <span class="fa-stack fa-3x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
      </span>
      <br>A diverse talent pool for the most effective team
    </h5>
    <br>
  <a href="/partners" class="btn-large info-session-button black-text waves-effect waves-light">JOIN OUR NETWORK</a>
  </center>
</div>
</div>
