<%= content_for :title, 'The Fast Track Curriculum.' %>
<%= content_for :description, "Coder Factory Academy's Fast Track Curriculum." %>
<div class="container">
<div class="col s8 offset-s2">
  <h3>Fast Track Coding Boot Camp</h3>
  <h4>Diploma in Software Development ICT50715</h4>

  <div class="card">
    <div class="card-content">
      <span class="card-title light-blue-text"><i class="fa fa-info-circle"></i> COURSE INFO</span>
    <ul class="collection">
        <li class="collection-item"><strong>Study mode:</strong> In class</li>

        <li class="collection-item"><strong>Course start date:</strong> Monday 29th February 
        <a class="modal-trigger" href="#modal1">Census Dates</a>
        </li>
        
        <li class="collection-item"><strong>Course duration:</strong> 24 weeks, 40 contact hours/week</li>

        <li class="collection-item"><strong>Qualification:</strong> Diploma of Software Development ICT50715</li>

        <li class="collection-item"><strong>Nationally recognised qualification:</strong> Yes</li>

        <li class="collection-item"><strong>Awarded by:</strong> Academy of Information Technology (RTO: 90511, Coder Factory Academy is a division of AIT)</li>

        <li class="collection-item"><strong>Price:</strong> $19,700</li>

        <li class="collection-item"><strong>Payment options: </strong><br>
          <a href="vet-fee-help">VET FEE-HELP (available for Australian Citizens only)</a><br>Full cash / credit card payment
        <br>
        Instalment payments</li>
      </div>
    </div>
</div>
  <div class="card">
    <div class="card-content">
      <span class="card-title light-blue-text"><i class="fa fa-users"></i> WHO IS THIS FOR</span>

  <ul class="collection">
    <li class="collection-item"><b>Career changers-</b> You may be looking to swap careers into the rapidly expanding tech industry for many reasons- better pay, greater mental stimulation or just feel the need to innovate!</li>
    
    <li class="collection-item"><b>Entrepreneurs-</b> You have big bold ideas but need some foundations in tech to code your prototype and negotiate with the broad range of suppliers/developers/engineers that operate in the tech industry.</li>
    
    <li class="collection-item"><b>Professional Development-</b> You may be in an industry you love but feel the need to create new products and innovations within your company. Learn the Digital literacy required to transform your workplace and make the competition irrelevant.</li>
    
    <li class="collection-item"><b>School leavers-</b> You may be interested in Computer Science/Engineering but not yet ready to dive into a 4 year degree. Use the coding Boot Camp model to gain the skills you need to quickly enter the industry and discover the various pathways open to you in carving out your tech career.</li>
  </ul>
</div>
</div>
<div class="card">
    <div class="card-content">
        <span class="card-title light-blue-text"><i class="fa fa-book"></i> PREREQUISITES</span>
  <p>None! Just a willingness to learn and a passion for technology</p>
</div>
</div>
<div class="card">
    <div class="card-content">
      <span class="card-title light-blue-text"><i class="fa fa-key"></i> KEY LEARNING OUTCOMES</span>

  <ul class="collection">
    <li class="collection-item">Logic/critical thinking</li>
    <li class="collection-item">Full stack web development</li>
    <li class="collection-item">Databases</li>
    <li class="collection-item">Development of web applications</li>
    <li class="collection-item">Integration of third party applications</li>
    <li class="collection-item">Cloud based deployment</li>
    <li class="collection-item">Mobile technology application fundamentals</li>
    <li class="collection-item">Project management applications</li>
    <li class="collection-item">Interview skills</li>
  </ul>
</div>
</div>
<div class="card">
    <div class="card-content">
        <span class="card-title light-blue-text"><i class="fa fa-code"></i> COURSE SUBJECTS</span>

  <ul class="collection">
    <li class="collection-item">Identify and manage the implementation of current industry specific technologies ICTICT514</li>
    <li class="collection-item">Validate an application design against specifications ICTPRG520</li>
    <li class="collection-item">Contribute to copyright, ethics and privacy in an ICT environment ICTICT418</li>
    <li class="collection-item">Establish and maintain client user liaison ICTSAS502</li>
    <li class="collection-item">Apply testing techniques for software development ICTPRG529</li>
    <li class="collection-item">Review developed software ICTPRG515</li>
    <li class="collection-item">Build advanced user interface ICTPRG505</li>
    <li class="collection-item">Computer programming logic and problem solving/critical thinking</li>
    <li class="collection-item">The internet and how it works</li>
    <li class="collection-item">HTML</li>
    <li class="collection-item">CSS</li>
    <li class="collection-item">The IT industry</li>
    <li class="collection-item">Javascript</li>
    <li class="collection-item">Bootstrap</li>
    <li class="collection-item">Web development tools</li>
    <li class="collection-item">Hosting</li>
    <li class="collection-item">Project 1A: Building a static site</li>
    <li class="collection-item">Forms</li>
    <li class="collection-item">Project 1B: Building a static site with forms</li>
    <li class="collection-item">Apply intermediate programming skills in another language ICTPRG418</li>
    <li class="collection-item">Ruby</li>
    <li class="collection-item">Rails</li>
    <li class="collection-item">Manage a Project using software management tools ICTPRG502</li>
    <li class="collection-item">Databases- relational/non relational</li>
    <li class="collection-item">Apply intermediate/advanced object oriented language skills ICTPRG527/ICTPRG501</li>
    <li class="collection-item">MVC</li>
    <li class="collection-item">APIs</li>
    <li class="collection-item">Pre Processors- SASS/LESS</li>
    <li class="collection-item">Apply advanced programming skills in another language ICTPRG523</li>
    <li class="collection-item">Node frameworks</li>
    <li class="collection-item">Express</li>
    <li class="collection-item">Project 2- Dynamic site with social network</li>
    <li class="collection-item">Angular</li>
    <li class="collection-item">Ajax</li>
    <li class="collection-item">IOS/Android app integration</li>
    <li class="collection-item">System security</li>
    <li class="collection-item">Debugging & Monitoring applications ICTPRG503</li>
    <li class="collection-item">Project 3- Real Time web app</li>
    <li class="collection-item">Deplay an application to a production environment ICTPRG504</li>
    <li class="collection-item">Apply Software development methodologies ICTICT403</li>
    <li class="collection-item">Gather data to identify business opportunities ICTICT509</li>
    
    <li class="collection-item">Employer testing environments</li>
    <li class="collection-item">Interview techniques</li>
  </ul>
  <a href="<%= asset_path "FastTrackCodingBootCamp.pdf" %>" target="_blank" id="curriculum-button" class="btn-large waves-effect waves-light">DOWNLOAD PDF</a>
  <br>
</div>
</div>

<div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Census Dates</h4>
      <table class="bordered">
        <thead>
            <tr>
                <th>Term</th>
                <th>Start date</th>
                <th>Census date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Term 1</th>
                <td>29th Feb 2016</td>
                <td>7th March 2016</td>
            </tr>
            <tr>
                <th>Term 2</th>
                <td>11th April 2016</td>
                <td>18th April 2016</td>
            </tr>
            <tr>
                <th>Term 3</th>
                <td>23rd May 2016</td>
                <td>30th May 2016</td>
            </tr>
            <tr>
                <th>Term 4</th>
                <td>4th July 2016</td>
                <td>11th July 2016</td>
            </tr>
        </tbody>
    </table>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>
<script>
$(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  });
</script>  
