<div class="container">
<div class="col s8 offset-s2">
  <h3>Fast Track Coding Bootcamp</h3>
  <h4>Diploma in Software Development ICT50715</h4>

  <p><b>Duration:</b> 6 months (1 month pre work & 5 months full time face to face training)</p>

  <h5>Target groups:</h5>

  <ul>
    <li><b>Career changers-</b> You may be looking to swap careers into the rapidly expanding tech industry for many reasons- better pay, greater mental stimulation or just feel the need to innovate!</li>
    <li><b>Entrepreneurs-</b> You have big bold ideas but need some foundations in tech to code your prototype and negotiate with the broad range of suppliers/developers/engineers that operate in the tech industry.</li>
    <li><b>Professional Development-</b> You may be in an industry you love but feel the need to create new products and innovations within your company. Learn the Digital literacy required to transform your workplace and make the competition irrelevant.</li>
    <li><b>School leavers-</b> You may be interested in Computer Science/Engineering but not yet ready to dive into a 4 year degree. Use the coding boot camp model to gain the skills you need to quickly enter the industry and discover the various pathways open to you in carving out your tech career.</li>
  </ul>

  <h5>Pre-requisites- None</h5>
  <p>Just a willingness to learn and a passion for technology</p>

  <h5>Key Learning Outcomes</h5>

  <ul>
    <li>Logic/critical thinking</li>
    <li>Full stack web development</li>
    <li>Databases</li>
    <li>Development of web applications</li>
    <li>Integration of third party applications</li>
    <li>Cloud based deployment</li>
    <li>Mobile technology application fundamentals</li>
    <li>Project management applications</li>
    <li>Interview skills</li>
  </ul>


  <h5>Subject Outline</h5>

  <ul>
    <li>Computer programming logic and problem solving/critical thinking</li>
    <li>The internet and how it works</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>The IT industry</li>
    <li>Javascript</li>
    <li>Bootstrap</li>
    <li>Web development tools</li>
    <li>Hosting</li>
    <li>Project 1A: Building a static site</li>
    <li>Forms</li>
    <li>Project 1B: Building a static site with forms</li>
    <li>Apply intermediate programming skills in another language ICTPRG418</li>
    <li>Ruby</li>
    <li>Rails</li>
    <li>Manage a Project using software management tools ICTPRG502</li>
    <li>Databases- relational/non relational</li>
    <li>Apply intermediate/advanced object oriented language skills ICTPRG527/ICTPRG501</li>
    <li>MVC</li>
    <li>APIs</li>
    <li>Pre Processors- SASS/LESS</li>
    <li>Apply advanced programming skills in another language ICTPRG523</li>
    <li>Node frameworks</li>
    <li>Express</li>
    <li>Project 2- Dynamic site with social network</li>
    <li>Angular</li>
    <li>Ajax</li>
    <li>IOS/Android app integration</li>
    <li>System security</li>
    <li>Debugging & Monitoring applications ICTPRG503</li>
    <li>Project 3- Real Time web app</li>
    <li>Deplay an application to a production environment ICTPRG504</li>
    <li>Apply Software development methodologies ICTICT403</li>
    <li>Gather data to identify business opportunities ICTICT509</li>
    <li>Identify and manage the implementation of current industry specific technologies ICTICT514</li>
    <li>Validate an application design against specifications ICTPRG520</li>
    <li>Contribute to copyright, ethics and privacy in an ICT environment ICTICT418</li>
    <li>Establish and maintain client user liaison ICTSAS502</li>
    <li>Apply testing techniques for software development ICTPRG529</li>
    <li>Review developed software ICTPRG515</li>
    <li>Build advanced user interface ICTPRG505</li>
    <li>Employer testing environments</li>
    <li>Interview techniques</li>
  </ul>
</div>
</div>
