<%= content_for :title, "Frequently Asked Questions" %>
<%= content_for :description, "Browse through the frequently asked to questions to see if there are any that meet your needs." %>
<div class="container">
<div class="col s8 offset-s2">
  <h3>Frequently Asked Questions</h3>
  <hr>
  <h5>Application</h5>
  <ul class="collapsible" data-collapsible="expandable">
    <li>
      <div class="collapsible-header">Are there any prerequisites?</div>
      <div class="collapsible-body">No. You just need to be interested in technology, and possess a willingness to learn.</div>
    </li>
    <li>
      <div class="collapsible-header">How many interviews are there after applying?</div>
      <div class="collapsible-body">There are no interviews for short workshops but between 2 & 3 for more intensive bootcamps.</div>
    </li>
    <li>
      <div class="collapsible-header">I don't have any programming experience, can I still do the courses?</div>
      <div class="collapsible-body">Yes! Though through the application you will have to learn the basics of programming, complete challenges, and prove your aptitude. If you enjoy technology and learning, you will likely be accepted.</div>
    </li>
    <li>
      <div class="collapsible-header">I have tech experience. Is this course right for me?</div>
      <div class="collapsible-body">Absolutely, we see a wide variety of students coming in, some will have tech and even programming experience, some might even have Engineering or Computer Science degrees. Unfortunately a lot of programming education does not prepare you for a career, or for hands on product building. Our courses are the perfect way to transform existing general technical skill, into a high demand career.</div>
    </li>
    <li>
      <div class="collapsible-header">If I apply, when do I know I got in?</div>
      <div class="collapsible-body">We process applications constantly and will have an answer to you within 2 days.</div>
    </li>
    <li>
      <div class="collapsible-header">I am an international student. Can I get a visa for this course?</div>
      <div class="collapsible-body">There are currently no visa arrangements for our courses.</div>
    </li>
    <li>
      <div class="collapsible-header">Do I need my own computer or special software?</div>
      <div class="collapsible-body">the software is free, but you will need a reasonably current computer to develop on, i.e. 2011 or later, and have at least 4GB of RAM.</div>
    </li>
    <li>
      <div class="collapsible-header">Are any scholarships available?</div>
      <div class="collapsible-body">We offer a variety of partial/full scholarships offered by both our company and other potential employers including Women in Tech. Please ask our staff to give you more information.</div>
    </li>
    <li>
      <div class="collapsible-header">I am under 18. Can I still do the course?</div>
      <div class="collapsible-body">We do accept students as young as 16 on a case by case basis into our program witht he permission and signed release from a guardian.</div>
    </li>
    <li>
      <div class="collapsible-header">What should I do to prepare for the course?</div>
      <div class="collapsible-body">Depending on the course you choose there are a variety of on-line pre learning modules that can be taken to give you some basic foundations. These will be supplied to you once our application is complete.</div>
    </li>
  </ul>
  <h5>Curriculum</h5>
  <ul class="collapsible" data-collapsible="expandable">
    <li>
      <div class="collapsible-header">Who are the teachers?</div>
      <div class="collapsible-body">All teachers have a deep understanding of the IT industry and have worked with small and large teams in creating commercial products. They are focussed on transforming you into a world class developer.</div>
    </li>
    <li>
      <div class="collapsible-header">What kind of projects do people build?</div>
      <div class="collapsible-body">For the six month program students will complete one Major project and three smaller projects. For the shorter workshops the focus is usually 1 main project. We introduce current real-world projects for you to work on or encourage you to bring your own ideas to create a product of your own choosing.</div>
    </li>
    <li>
      <div class="collapsible-header">What is in the curriculum?</div>
      <div class="collapsible-body">A hands on introduction to all the critical topics needed for web development, followed by challenges to cement and deepen your skills. You learn by making, and the teachers guide you through it.</div>
    </li>
    <li>
      <div class="collapsible-header">What time commitment is needed?</div>
      <div class="collapsible-body">Please refer to the particular program for the specific attendance hours. Of course you get out of it what you put into it and we are open and available for you to work on your own projects after hours.</div>
    </li>
    <li>
      <div class="collapsible-header">Are you an accredited school?</div>
      <div class="collapsible-body">Yes, we issue accredited qualifications. We focus on helping you gain the skills that industry demands while also covering nationally accredited curriculum that can be used to continue your studies to Higher Education qualifications in the future.</div>
    </li>
  </ul>
  <h5>Post Course & Employment</h5>
  <ul class="collapsible" data-collapsible="expandable">
    <li>
      <div class="collapsible-header">Is a job guaranteed?</div>
      <div class="collapsible-body">No, but we have great connections with industry in both Australia and the USA. Every student who graduates and follows our job search plan will find endless career support throughout their life in technology. </div>
    </li>
    <li>
      <div class="collapsible-header">Can you help me build a product?</div>
      <div class="collapsible-body">Yes. Our goal is to help you reach yours. We have a variety of workshops to help you build out your product, launch it and even get over to Silicon Valley if that is what you are aiming for.</div>
    </li>
    <li>
      <div class="collapsible-header">What is a Junior Developer?</div>
      <div class="collapsible-body">A Junior Developer is someone who is just starting their career in software and will benefit from a mentor. A Junior Developer is much like any other entry level role and will need to continue to seek knowledge to grow more experienced in their role with any company they join.</div>
    </li>
  </ul>
  <h5>Day to Day</h5>
  <ul class="collapsible" data-collapsible="expandable">
    <li>
      <div class="collapsible-header">May I talk to any past students?</div>
      <div class="collapsible-body">Yes. We have a strong Alumni of past graduates. Read our testimonials and ask us to put you in touch with fellow technology enthusiasts. We also have regular meetups to hang out with recent and past graduates.</div>
    </li>
    <li>
      <div class="collapsible-header">What does a typical day look like?</div>
      <div class="collapsible-body">Some weeks are full of lessons and challenges, others are entirely project work. There are many options of evenings/weekends or weekday sessions. We have breakout areas to hang out in the sun, slouch in a bean bag or crunch through ideas in meeting rooms.</div>
    </li>
    <li>
      <div class="collapsible-header">What kind of people will be in the class with me?</div>
      <div class="collapsible-body">People who are passionate about technology and want to learn to code. We get a nice mix of tech savvy individuals and complete newbies- it all adds to create a stimulating learning environment.</div>
    </li>
    <li>
      <div class="collapsible-header">Do you offer any housing?</div>
      <div class="collapsible-body">No. However, we can assist with some accommodation service providers.</div>
    </li>
    <li>
      <div class="collapsible-header">Is food supplied?</div>
      <div class="collapsible-body">No, However on occasion we will have a catered meal for an event or celebration.</div>
    </li>
    <li>
      <div class="collapsible-header">How many people in a class?</div>
      <div class="collapsible-body">Classes will average 10-15 students.</div>
    </li>
    <li>
      <div class="collapsible-header">Can I work while doing the program?</div>
      <div class="collapsible-body">The intensive boot camps are made for a fully immersive experience and we would not recommend trying to work around the classes as a lot of extra time is needed to build your projects and sharpen your skills. We do have a wide range of other workshops that are held in evenings/weekends and are designed to fit in around a full time work schedule.</div>
    </li>
    <li>
      <div class="collapsible-header">Is it full time in class or can I do some remotely?</div>
      <div class="collapsible-body">We have some introductory foundation material available as on-line classes but the bulk of the learning happens in face to face classes.</div>
    </li>
    <li>
      <div class="collapsible-header">What if I miss a few days of class?</div>
      <div class="collapsible-body">You will be expected to make the work up or re-take the session. We have a variety of classes running at the same time making it easy to find an alternative session to attend.</div>
    </li>
    <li>
      <div class="collapsible-header">Is there any dress code?</div>
      <div class="collapsible-body">No. We just want you and your fellow learners to feel relaxed and comfortable.</div>
    </li>
  </ul>
</div>
</div>
