<div class="container">
<div class="row">
  <div class="col s12">
    <h2>JOIN OUR NETWORK</h2>
    <div class="card">
      <div class="card-content">
        <h4>We love our Partners</h4>
        <p>Does your company need more front-end, back-end, and full-stack web developers? Coder Factory Academy specialises in connecting our partners with quality controlled interns and new hires. Students of our rigorous, full-time coding course graduate yearning to make an impact and drive innovation across the tech industry.</p>
      </div>
    </div>
  </div>
  <div class="col s12">
    <h2>WANT TO BECOME A PARTNER?</h2>
    <div class="card">
      <div class="card-content">
        <div class="row">
          <div class="hide-on-med-and-up">
            <%= render "shared/mobile_partner_icons" %>
          </div>
          <div class="hide-on-small-only">
            <%= render "shared/desktop_partner_icons" %>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <h4>Become a partner today!</h4>
            <p>Scout your next best employee in our community.</p>
            <center>
              <a href="/contact" class="btn-large black-text info-session-button waves-effect waves-light">CONTACT OUR TEAM</a>
            </center>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
