<div class="container">
<div class="row">
  <h2>What our students say....</h2>
  <div class="card">
    <div class="card-content">
      Coder Factory has had over 400 students complete a variety of short courses, work shops or intensive programs over the past 2 years. Listen/read about some of their experiences and what they are doing now....
    </div>
  </div>
  <hr>
  <a class="modal-trigger btn-large info-session-button white-text waves-effect waves-light " href="#modal1">
  <div class="col s1">
    <img src="<%= asset_path 'VideoScreenshot' %>" class="responsive-img circle">
  </div>
  <div class="col s11">Quoooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooote</div>
  </a>
</div>
</div>

<%# <div class="video-container"> %>
  <%# <iframe width="560" height="315" src="https://www.youtube.com/embed/Gl8cjgB1u_c?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe> %>
<%# </div> %>
<div id="modal1" class="modal">
  <div class="modal-content">
    <div class="row">
      <div class="col s12">
        <h5><i class="fa fa-edit"></i> Register for an info session</h5>
        <p>Come learn all about our new accredited coding bootcamp course and what you'll need to succeed in the software industry.</p>
        <p>When: 6pm - 8pm, Wednesday evenings<br>
        Where: Coder Factory HQ, 7 Hudson St, Redfern<br>
        What to bring: Your laptop and excitement for technology!</p>
      </div>
    </div>
  </div>
<!--   <div class="modal-footer">
    
  </div> -->
</div>
