<%= content_for :title, 'Find out about VET FEE-HELP with Coder Factory Academy' %>
<%= content_for :description, 'All the details you need to know about VET FEE-HELP' %>
<div class="container">
<h2>VET FEE-HELP</h2>
<h4>Study Now – Pay Later</h4>
<p class="flow-text">With the student loan scheme provided by the Australian Government</p>

<div class="row">
  <div class="col s12">
    <div class="card">
    	<div class="card-content">
      <span class="card-title blue-text text-darken-4"> What is VET FEE-HELP?</span>

      	<p>FEE-HELP is a loan scheme, provided by the Federal Government that assists eligible students in the payment of part or all of their tuition fees. VET FEE-HELP is the same program but for diploma programs. AIT is an approved provider of FEE HELP and VET FEE HELP courses.</p>
      	<br>
      	<p>Over their lifetime, eligible students may borrow up to the FEE-HELP limit. The government directly pays AIT the amount of the loan, and students (that is you) pay it back through the Australian taxation system once their annual income reaches the minimum repayment threshold. For the 2014/15 financial year the threshold was $53,345 and the 2015/16 the compulsory repayment threshold will be $54,126 .</p>
      	<br>
      	<p>FEE-HELP loans don’t attract interest, but a CPI increase is applied every June 1 for amounts that have been unpaid for 11 months or more.</p>

      	<p>Learn more about Fee HELP and VET FEE HELP at: <a href="www.studyassist.gov.au" target="_blank">www.studyassist.gov.au</a></p>
      </div>
     </div>


     <div class="card">
    	<div class="card-content">
      <span class="card-title blue-text text-darken-4"> Who is eligible for VET FEE-HELP?</span>

     <p>You are eligible for FEE-HELP if you are an Australian citizen, permanent humanitarian visa holder (resident in Australia for the duration of your unit), or a permanent visa holder undertaking bridging study for overseas-trained professionals and will be resident in Australia for the duration of the study.</p>
     <br>

     <p>You must also be enrolled in an eligible unit of study by the census date for that unit and have not exceeded your FEE-HELP limit.</p>
    </div>
   </div>

  <div class="card">
    	<div class="card-content">
      <span class="card-title blue-text text-darken-4"> Is VET FEE-HELP available for CODER FACTORY ACADEMY courses?</span>

  <p>The VET FEE-HELP is available for our Diploma of Software Development course which is a nationally recognised and VET approved qualification. </p>
  <br>
 </div>
 </div>
 </div>
 </div>

 