<div class="container">
<div class="row">
  <ul class="collapsible popout">
    <li>
      <div class="collapsible-header">Student Spotlight</div>
      <div class="collapsible-body">More test</div>
    </li>
    <li>
      <div class="collapsible-header">Academics</div>
      <div class="collapsible-body">More test</div>
    </li>
    <li>
      <div class="collapsible-header">Testimonials</div>
      <div class="collapsible-body">More test</div>
    </li>
    <li>
      <div class="collapsible-header">Life at Coder Factory</div>
      <div class="collapsible-body">More test</div>
    </li>
    <li>
      <div class="collapsible-header">Industry Experts</div>
      <div class="collapsible-body">More test</div>
    </li>
    <li>
      <div class="collapsible-header">General</div>
      <div class="collapsible-body">More test</div>
    </li>
  </ul>
</div>
</div>
<script>
$(document).ready(function(){
    $('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });
  });
</script>
