<div class="container">
<h2>Video Archive</h2>
<div class="row">
  <ul class="collapsible popout">
    <li>
      <div class="collapsible-header"><i class="fa fa-user"></i> Student Testimonials <div class="right"><i class="fa fa-expand"></i></div></div>
      <div class="collapsible-body">
        <div class="container">
          <div class="row">
            <div class="col m6 s12">
              <div class="video-container">
                <iframe src="https://player.vimeo.com/video/150739950?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
              <br><hr>
            </div>
            <div class="col m6 s12">
              <div class="video-container">
                <iframe src="https://player.vimeo.com/video/150745311?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
            <br><hr>
            </div>
            <div class="col m6 s12">
              <div class="video-container">
                <iframe src="https://player.vimeo.com/video/150745848?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
              <br><hr>
            </div>
            <div class="col m6 s12">
              <div class="video-container">
                <iframe src="https://player.vimeo.com/video/150745898?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
            <br><hr>
            </div>
            <div class="col m6 s12">
              <div class="video-container">
                <iframe src="https://player.vimeo.com/video/150745955?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
              <br><hr>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="fa fa-users"></i> Student Spotlight <div class="right"><i class="fa fa-expand"></i></div></div>
      <div class="collapsible-body">
        <div class="container">
          <div class="row">
            <div class="col m6 s12">
              <div class="video-container">
                <iframe src="https://player.vimeo.com/video/152511038?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
              <br><hr>
            </div>
            <div class="col m6 s12">
              <div class="video-container">
                <iframe src="https://player.vimeo.com/video/152511041?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
              <br><hr>
            </div>
            <div class="col m6 s12">
              <div class="video-container">
                <iframe src="https://player.vimeo.com/video/152511042?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
              <br><hr>
            </div>
            <div class="col m6 s12">
              <div class="video-container">
                <iframe src="https://player.vimeo.com/video/152511043?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
              <br><hr>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="fa fa-graduation-cap"></i> Academics <div class="right"><i class="fa fa-expand"></i></div></div>
      <div class="collapsible-body">
        <div class="container">
          <div class="row">
            <div class="col m6 s12">
              <div class="video-container">
                <iframe src="https://player.vimeo.com/video/152510466?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
              <br><hr>
            </div>
            <div class="col m6 s12">
              <div class="video-container">
                <iframe src="https://player.vimeo.com/video/152510465?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
              <br><hr>
            </div>
            <div class="col m6 s12">
              <div class="video-container">
                <iframe src="https://player.vimeo.com/video/152499527?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
              <br><hr>
            </div>
            <div class="col m6 s12">
              <div class="video-container">
                <iframe src="https://player.vimeo.com/video/152499526?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
              <br><hr>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="fa fa-building"></i> Life at Coder Factory <div class="right"><i class="fa fa-expand"></i></div></div>
      <div class="collapsible-body">
        <div class="container">
          <div class="row">
            <div class="col m6 s12">
              <div class="video-container">
                <iframe src="https://player.vimeo.com/video/151848075?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
              <br><hr>
            </div>
            <div class="col m6 s12">
              <div class="video-container">
                <iframe src="https://player.vimeo.com/video/152511033?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
              <br><hr>
            </div>
            <div class="col m6 s12">
              <div class="video-container">
                <iframe src="https://player.vimeo.com/video/152511032?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
              <br><hr>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="fa fa-industry"></i> Industry Experts <div class="right"><i class="fa fa-expand"></i></div></div>
      <div class="collapsible-body">
        <div class="container">
          <div class="row">
            <div class="col m6 s12">
              <div class="video-container">
                <iframe src="https://player.vimeo.com/video/152511034?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
              <br><hr>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="fa fa-cog"></i> General <div class="right"><i class="fa fa-expand"></i></div></div>
      <div class="collapsible-body">
        <div class="container">
          <div class="row">
            <div class="col m6 s12">
              <div class="video-container">
                <iframe src="https://player.vimeo.com/video/150737851?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
              <br><hr>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
</div>
<script>
$(document).ready(function(){
    $('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });
  });
</script>
