<div class="container">
<h2>Women in Tech Scholarship Terms & Conditions</h2>

<div class="row">
  <div class="card">
    <div class="card-content">
      <span class="card-title" id="logo-blue-text"><i class="fa fa-bookmark"></i> SCHOLARSHIP OVERVIEW</span>
      <p>CFA is offering one person per intake the opportunity to receive a partial scholarship for the Diploma of Software Development</p>
      <ul class="collection">
        <li class="collection-item"><strong>Scholarship Value:</strong> The scholarship will be equal to 80% of the tuition fees of study. Valued at $15,600.</li>
        <li class="collection-item"><strong>Application Deadline:</strong>
          <p><b>August Intake:</b> Friday, 1st July</p>
          <p><strong>September Intake - Sydney:</strong> Friday, 12th August</p>
          <p><strong>September Intake - Melbourne:</strong> Friday, 12th August</p>
        </li>
        <li class="collection-item"><strong>How to Apply:</strong> It's time for you to get creative! Along with completing the scholarship application form, you are required to submit a themed portfolio of creative work that showcases your abilities and talents, along with a brief written submission explaining why you aspire to become a coder. You may use any media of choice for your themed portfolio submission (e.g. an illustration, short film, animation, storyboard, comic book, app, photography, creative writing, etc). The theme for your portfolio submission will be "My life as a Coder".
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="card">
    <div class="card-content">
      <span class="card-title" id="logo-blue-text"><i class="fa fa-question"></i> ELIGIBILITY</span>
      <ul class="collection">
        <li class="collection-item">You must be an Australian citizen or permanent resident.</li>
        <li class="collection-item">This scholarship is only open to students who enrol directly with AIT. Any enrolments via an agent or other recruitment organisations will not be eligible for participation.</li>
        <li class="collection-item">You must be available to attend a scholarship application interview at our Sydney or Melbourne campus  as part of the scholarship awarding process.</li>
        <li class="collection-item">You must meet all other usual eligibility and entry requirements.</li>
      </ul>
      <p>To be considered for this high profile scholarship, the applicant must display:</p>
      <ul class="collection">
        <li class="collection-item">Demonstrated willingness and ability to undertake full time intensive study.</li>
        <li class="collection-item">Demonstrated interest in pursuing a rewarding career in tech.</li>
        <li class="collection-item">Strong communication and presentation skills.</li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="card">
    <div class="card-content">
      <span class="card-title" id="logo-blue-text"><i class="fa fa-refresh"></i> APPLICATION PROCESS</span>
      <ul class="collection">
        <li class="collection-item">Application for our scholarship for study commencing in 2016 is now open and will close as outlined above.</li>
        <li class="collection-item">Notification of Scholarship winners will be delivered within 2 weeks from the application deadlines.</li>
        <li class="collection-item">Direct email inquiries may be made at info@coderfactoryacademy.com</li>
        <li class="collection-item">Entries must be made electronically.</li>
      </ul>
      <p>All scholarship applications must include the following:</p>
      <ul class="collection">
        <li class="collection-item">A fully completed online application form.</li>
        <li class="collection-item">One portfolio or composition addressing the theme "My Life as a Coder"</li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="card">
    <div class="card-content">
      <span class="card-title" id="logo-blue-text"><i class="fa fa-check"></i> SELECTION</span>
      <p>The scholarship program winners will be judged on criteria including:</p>
      <ul class="collection">
        <li class="collection-item">Skill</li>
        <li class="collection-item">Effort</li>
        <li class="collection-item">Creativity</li>
      </ul>
      <p><em>An applicant’s financial status or personal circumstances will not be considered in any way in the evaluation process.</em></p>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="card">
    <div class="card-content">
      <span class="card-title" id="logo-blue-text"><i class="fa fa-check-square-o"></i> TERMS AND CONDITIONS</span>
      <ul class="collection">
        <li class="collection-item">All scholarship applications must be original works, and created entirely by the scholarship applicant.</li>
        <li class="collection-item">This scholarship award covers tuition fees equivalent to 80% of all academic terms at CFA only.</li>
        <li class="collection-item">The scholarship is not transferable to other people or other educational institutions.</li>
        <li class="collection-item">The scholarship is not exchangeable for cash, and the scholarship winner is not entitled to any monetary refund under any circumstances.</li>
        <li class="collection-item">CFA will retain full discretion over the scholarship assessment and awarding process, and no appeal process may be entered into.</li>
        <li class="collection-item">This scholarship does not cover the cost of books, software, consumables, stationery, accommodation, or other costs that may be necessary to undertake CFA’s courses.</li>
        <li class="collection-item">CFA accepts no responsibility for late, lost, incomplete, incorrectly submitted, delayed, illegible, corrupted or misdirected entries.</li>
        <li class="collection-item">All portfolio submissions submitted to CFA become the property of CFA. Each scholarship applicant promises that they have the right to transfer these works to CFA. CFA may use application materials submitted in any way and in any medium.</li>
        <li class="collection-item">CFA reserves the right not to award the scholarship if no entry meets its judging criteria.</li> 
      </ul>
      Scholarship winners are required to:
      <ul class="collection">
        <li class="collection-item">Complete CFA’s enrolment form and provide all usual supporting documentation, including a signed student contract and request for VET FEE HELP Form if applicable.</li>
        <li class="collection-item">Agree to CFA’s policies and procedures.</li>
        <li class="collection-item">Commence their course as scheduled and undertake a full-time subject load for at least the first two terms.</li>
        <li class="collection-item">Agree to participate in promotional activities requested by CFA from time to time, for a period extending 6 months after the scholarship benefit period. These activities may include attending publicity events and student career fairs. CFA will cover any costs to the scholarship winner for undertaking these promotional activities.</li>
        <li class="collection-item">Consent to their name and photograph being used in CFA promotional material.</li>
        <li class="collection-item">Acknowledge that should they need to repeat any particular subject, the additional cost of this repeated subject will not be paid by CFA.</li>
        <li class="collection-item">Acknowledge that in the event that they cease full time study, or withdraw from their course, any remaining scholarship benefit will be forfeited.</li>
        <li class="collection-item">Acknowledge that CFA accepts no liability for any personal tax implications that may arise from being awarded this scholarship. Independent financial advice should be sought by the scholarship winner.</li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="card">
    <div class="card-content">
      <span class="card-title" id="logo-blue-text"><i class="fa fa-times-circle"></i> FORFEIT OF SCHOLARSHIP</span>

      <p>Scholarships may be forfeited if the scholarship award holder:<p>
      <ul class="collection">
        <li class="collection-item">Fails to abide by the conduct rules outlined in the CFA student handbook.</li>
        <li class="collection-item">Fails their examinations without good cause.</li>
        <li class="collection-item">Resigns from their scholarship or discontinues studies at the CFA.</li>
        <li class="collection-item">Commits a breach of any of the rules and conditions outlined in this document.</li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <center>
    <a href="/women-in-tech/apply" class="btn-large black-text info-session-button waves-effect waves-light">APPLY NOW</a>
  </center>
</div>
</div>
