<section id="workshop">
<div class="container">
<div class="row">
  <div class="card">
    <div class="card-content">
        <h3><i class="fa fa-edit"></i> Register for an info session</h3>
        <p class="flow-text">Come and learn all about our new accredited coding bootcamp course and what you'll need to succeed in the software industry.</p>
        <hr />
        <table class="bordered">
          <tr>
            <th>
              When
            </th>
            <td>
              <b>Sydney Time</b><br>
              6pm - 8pm, Wednesday evenings<br>
              <b>Melbourne Time</b><br>
              6pm - 8pm, Wednesday evenings
            </td>
          </tr>
          <tr>
            <th>
              Where
            </th>
            <td>
              <b>Sydney Campus</b><br>
              Level 2, 7 Kelly Street<br>
              Ultimo, NSW 2007<br>
              <b>Melbourne Campus</b><br>
              Level 8, 120 Spencer Street<br>
              Melbourne, VIC 3000
            </td>
          </tr>
        </table>
        <br>
      <%= render "info_session_attendee_form" %>
    </div>
  </div>
</div>
</div>
</section>
