<section id="workshop">
<div class="container">
<div class="row">
  <div class="card">
    <div class="card-content">
        <h3><i class="fa fa-edit"></i> Register for an info session</h3>
        <p class="flow-text">Come learn all about our new accredited coding bootcamp course and what you'll need to succeed in the software industry. You'll also be given the chance to partake in a free mini workshop.</p>
        <hr />
        <table class="bordered">
          <tr>
            <th>
              When
            </th>
            <td>
              6pm - 8pm, Wednesday evenings
            </td>
          </tr>
            <tr>
              <th>
                Where
              </th>
              <td>
                Coder Factory HQ, 7 Hudson St, Redfern
              </td>
            </tr>
              <tr>
                <th>
                  When
                </th>
                <td>
                  Your laptop and excitement for building technology!
                </td>
              </tr>
        </table>

      <%= render "info_session_attendee_form" %>
    </div>
  </div>
</div>
</div>
</section>
