<p>FAQ</p>
<h5>Application</h5>
<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header">Q: Are there any prerequisites?</div>
    <div class="collapsible-body">A: No. You just need to be interested in technology, and possess a willingness to learn.</div>
  </li>
  <li>
    <div class="collapsible-header">Q: How many interviews are there after applying?</div>
    <div class="collapsible-body">A: There are no interviews for short workshops but between 2 & 3 for more intensive bootcamps.</div>
  </li>
  <li>
    <div class="collapsible-header">Q: I don't have any programming experience, can I still do the courses?</div>
    <div class="collapsible-body">A: Yes! Though through the application you will have to learn the basics of programming, complete challenges, and prove your aptitude. If you enjoy technology and learning, you will likely be accepted.</div>
  </li>
  <li>
    <div class="collapsible-header">Q: I have tech experience. Is this course right for me?</div>
    <div class="collapsible-body">Absolutely, we see a wide variety of students coming in, some will have tech and even programming experience, some might even have Engineering or Computer Science degrees. Unfortunately a lot of programming education does not prepare you for a career, or for hands on product building. Our courses are the perfect way to transform existing general technical skill, into a high demand career.</div>
  </li>
  <li>
    <div class="collapsible-header">Q: If I apply, when do I know I got in?</div>
    <div class="collapsible-body">A: We process applications constantly and will have an answer to you within 2 days.</div>
  </li>
  <li>
    <div class="collapsible-header">Q: I am an international student. Can I get a visa for this course?</div>
    <div class="collapsible-body">A: There are currently no visa arrangements for our courses.</div>
  </li>
  <li>
    <div class="collapsible-header">Q: Do I need my own computer or special software?</div>
    <div class="collapsible-body">A: the software is free, but you will need a reasonably current computer to develop on, i.e. 2011 or later, and have at least 4GB of RAM.</div>
  </li>
  <li>
    <div class="collapsible-header">Q: Are any scholarships available?</div>
    <div class="collapsible-body">A: We offer a variety of partial/full scholarships offered by both our company and other potential employers including Women in Tech. Please ask our staff to give you more information.</div>
  </li>
  <li>
    <div class="collapsible-header">Q: I am under 18. Can I still do the course?</div>
    <div class="collapsible-body">A: We do accept students as young as 16 on a case by case basis into our program witht he permission and signed release from a guardian.</div>
  </li>
  <li>
    <div class="collapsible-header">Q: What should I do to prepare for the course?</div>
    <div class="collapsible-body">A: Depending on the course you choose there are a variety of on-line pre learning modules that can be taken to give you some basic foundations. These will be supplied to you once our application is complete.</div>
  </li>
</ul>
