<div class="fixed">
<div class="card">
  <div class="card-content">
    <span id="logo-blue-text" class="card-title smaller-font"><i class="fa fa-train"></i> Fast Track Coding Bootcamp</span>
    <p>Accelerate your career or change direction entirely. Meet Australia's only accredited coding bootcamp.</p>
    <br>
    <p>- Full-stack developer in 24 weeks</p>
    <p>- Guaranteed internship </p>
    <p>- VET FEE-HELP available</p>
    <br>
    <span class="">
      <a class="btn btn-large info-session-button waves-effect waves-light full-width" href="https://coderfactoryacademy.com"><i class="material-icons right">send</i>Academy</a>
    </span>
    </p>
  </div>
</div>
<div class="card">
  <div class="card-content">
    <span id="logo-blue-text" class="card-title grey-text text-darken-2">Next Info Session</span>
    <p>

    Date: <%= @info_session_date.first %>
  <br>
  Price: FREE
  <br>
  <span class="">
    <a class="btn btn-large info-session-button waves-effect waves-light full-width" href="/information-sessions/new"><i class="material-icons right">send</i>Book Now</a>
  </span>
    </p>
  </div>
</div>
</div>
