<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col m4 s12">
        <%= image_tag 'CoderFactoryLogoForWeb.png', class: 'responsive-img' %>
      </div>
    </div>
    <div class="row">
      <div class="col m4 s6">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/about">About us</a></li>
          <li><a class="grey-text text-lighten-3" href="/blog">Blog</a></li>
          <li><a class="grey-text text-lighten-3" href="/contact">Contact</a></li>
          <li><a class="grey-text text-lighten-3" href="/community">Community</a></li>
          <li><a class="grey-text text-lighten-3" href="/faq">Frequently Asked Questions</a></li>
          <li><a class="grey-text text-lighten-3" href="/press">Press</a></li>
          <li><a class="grey-text text-lighten-3" href="/privacy">Privacy</a></li>
        </ul>
      </div>
      <div class="col m4 s6">
        <h5 class="white-text">Social Media</h5>
        <ul>
          <li><i class="fa fa-facebook-square fa-inverse"></i> <a class="grey-text text-lighten-3" href="https://www.facebook.com/thecoderfactory/" target="_blank">Facebook</a></li>
          <li><i class="fa fa-twitter-square fa-inverse"></i> <a class="grey-text text-lighten-3" href="https://twitter.com/coderfactory" target="_blank">Twitter</a></li>
          <li><i class="fa fa-linkedin-square fa-inverse"></i> <a class="grey-text text-lighten-3" href="https://www.linkedin.com/company/the-coder-factory" target="_blank">LinkedIn</a></li>
        </ul>
      </div>
      <% if current_user %>
        <div class="col m4">
          <h5 class="white-text">Admin</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="/users/edit">Account Settings</a></li>
            <li><a class="grey-text text-lighten-3" href="/academy_applications">Coderfactory Academy Applications</a></li>
            <li><a class="grey-text text-lighten-3" href="/enquiries">Enquires</a></li>
            <li><a class="grey-text text-lighten-3" href="/press_posts">Press Posts</a></li>
            <li><a class="grey-text text-lighten-3" href="/posts">Your Blog Posts</a></li>
          </ul>
        </div>
      <% end %>
    </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col m6 s12">
          © <%= Date.today.year %> Coder Factory | RTO: 90511, Coder Factory Academy is a division of AIT
        </div>
        <div class="col m6 s12">
          <% if current_user %>
            <p class="grey-text text-lighten-4 right">Currently logged in as: <%= current_user.email %> | <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "grey-text text-lighten-4") %></p>
          <% else %>
            <a class="grey-text text-lighten-4 right" href="/users/sign_in">Sign in</a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</footer>
