<div class="navbar-fixed">
<nav class="top-nav">
<div class="">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><img src="<%= asset_path 'AcademyLogo.png' %>" alt="Coder Factory" class="nav-logo img-responsive"></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      
      <ul class="right hide-on-med-and-down">
       <li><a href="/"><span class="border-button">Apply here</span></a></li>
       
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/">Home</a></li>
       
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div></div>
  </nav>
  </div>