<div class="navbar-fixed">
<nav class="" role="navigation">
  <a href="/" class="brand-logo"><img src="<%= asset_path 'CFA_WHITE.png' %>" alt="Coder Factory" class="nav-logo responsive-img hide-on-small-only"><img src="<%= asset_path 'cfa-logo-circle.png' %>" class="nav-logo responsive-img hide-on-med-and-up"></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down white-text">
      <li><a href="/about-coder-factory-academy"><span class="non-border-button"><i class="fa fa-users"></i> ABOUT US</span></a></li>
      <li><a href="/blog"><span class="non-border-button"><i class="fa fa-book"></i> BLOG</span></a></li>
      <li><a href="/frequently-asked-questions"><span class="non-border-button"><i class="fa fa-info-circle"></i> FAQ</span></a></li>
      <li><a href="/curriculum"><span class="non-border-button"><i class="fa fa-tasks"></i> CURRICULUM</span></a></li>
      <li><a href="/contact"><span class="non-border-button"><i class="fa fa-comment"></i> ENQUIRE NOW</span></a></li>
      <li><a href="/apply"><span class="border-button"><i class="fa fa-check-circle-o"></i> APPLY HERE</span></a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="/"><i class="fa fa-home"></i> HOME</a></li>
      <li class="divider"></li>
      <li><a href="/apply"><i class="fa fa-check-circle-o"></i> APPLY HERE</a></li>
      <li><a href="/contact"><i class="fa fa-comment"></i>ENQUIRE NOW</a></li>
      <li class="divider"></li>
      <li><a href="/about-coder-factory-academy"><i class="fa fa-users"></i> ABOUT US</a></li>
      <li><a href="/blog"><i class="fa fa-book"></i> BLOG</a></li>
      <li><a href="/frequently-asked-questions"><i class="fa fa-info-circle"></i> FAQ</a></li>
      <li><a href="/curriculum"><i class="fa fa-tasks"></i> CURRICULUM</a></li>
    </ul>
</nav>
</div>
