<div class="navbar-fixed">
<ul id="dropdown1" class="dropdown-content">
  <li><a href="/about">About Us</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="/curriculum">Curriculum</a></li>
</ul>
<nav class="" role="navigation">
  <div class="nav-wrapper container">
    <a href="/" class="brand-logo"><img src="<%= asset_path 'AcademyLogo.png' %>" alt="Coder Factory" class="nav-logo responsive-img"></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">Test</i></a>
    <ul class="right hide-on-med-and-down white-text">
      <li><a href="/apply"><span  class="border-button">APPLY HERE</span></a></li>
      <li><a href="/contact"><span  class="border-button">ENQUIRE</span></a></li>
      <%# <li><a class="dropdown-button dropdown-button" href="#!" data-activates="dropdown1">Other<i class="material-icons right">arrow_drop_down</i></a></li> %>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="/apply">APPLY HERE</a></li>
      <li><a href="/contact">ENQUIRE</a></li>
    </ul>
  </div>
</nav>
</div>
