<div class="navbar-fixed">
<nav class="" role="navigation">
  <div class="row hide-on-med-and-up">
    <div class="col s1">
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="fa fa-bars fa-inverse"></i></a>
    </div>
    <center><img src="<%= asset_path 'cfa-logo-circle.png' %>" class="responsive-img hide-on-med-and-up"></center>
  </div>
  <a href="/"><img src="<%= asset_path 'CFA_WHITE.png' %>" alt="Coder Factory" class="nav-logo responsive-img hide-on-small-only"></a>
    <ul class="right hide-on-med-and-down white-text">
      <li><a class="valign-wrapper" href="/about-coder-factory-academy"><span class="non-border-button valign"><i class="fa fa-users fa-inverse"></i> ABOUT US</span></a></li>
      <li><a class="valign-wrapper" href="/frequently-asked-questions"><span class="non-border-button valign"><i class="fa fa-info-circle"></i> FAQ</span></a></li>
      <li><a class="valign-wrapper" href="/curriculum"><span class="non-border-button valign"><i class="fa fa-tasks fa-inverse"></i> CURRICULUM</span></a></li>
      <li><a class="valign-wrapper" href="/career-outcomes"><span class="non-border-button valign"><i class="fa fa-desktop fa-inverse"></i> CAREERS</span></a></li>
      <li><a class="valign-wrapper" href="/contact"><span class="non-border-button valign"><i class="fa fa-comment"></i> ENQUIRE NOW</span></a></li>
      <li><a class="valign-wrapper" href="/apply"><span class="border-button valign"><i class="fa fa-check-circle-o"></i> APPLY HERE</span></a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="/"><i class="fa fa-home"></i> HOME</a></li>
      <li class="divider"></li>
      <li><a href="/apply"><i class="fa fa-check-circle-o"></i> APPLY HERE</a></li>
      <li><a href="/contact"><i class="fa fa-comment"></i>ENQUIRE NOW</a></li>
      <li class="divider"></li>
      <li><a href="/about-coder-factory-academy"><i class="fa fa-users"></i> ABOUT US</a></li>
      <li><a href="/frequently-asked-questions"><i class="fa fa-info-circle"></i> FAQ</a></li>
      <li><a href="/curriculum"><i class="fa fa-tasks"></i> CURRICULUM</a></li>
      <li><a href="/career-outcomes"><i class="fa fa-desktop fa-stack-lg"></i> CAREERS</a></li>
    </ul>
</nav>
</div>
