<div class="navbar-fixed">
<nav class="" role="navigation">
    <a href="/" class="brand-logo"><img src="<%= asset_path 'AcademyLogo.png' %>" alt="Coder Factory" class="nav-logo responsive-img"></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down white-text">
      <li><a href="/contact"><span class="non-border-button">ENQUIRE</span></a></li>
      <li><a href="/curriculum"><span class="non-border-button">CURRICULUM</span></a></li>
      <li><a href="/women-in-tech/apply"><span class="border-button">SCHOLARSHIP</span></a></li>
      <li><a href="/apply"><span class="border-button">APPLY HERE</span></a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="/apply">Home</a></li>
      <li class="divider"></li>
      <li><a href="/apply">APPLY HERE</a></li>
      <li><a href="/contact">ENQUIRE</a></li>
      <li class="divider"></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/curriculum">Curriculum</a></li>
    </ul>
</nav>
</div>
