<div id="customElement">
  <div class="container">
  	<div class="row">
  		<div class="col m12">
        <center>
          <h1>The Fast Track to a career in tech.</h1>
          
            <h3 class="light-blue tagline">Do you have what it takes?</h3>
            <h4>Australia's first coding bootcamp that offers FEE-HELP and a Dimploma of Software Development.</h4>
            <p class="flow-text">Brought to you by Australian accredited Australian Institute of Technology and Coder Factory.</p>
          
        </center>
           </div>
      
    </div>
  </div>
</div>

<div id="video" class="player" data-property="{videoURL: '<%= @video_code %>',containment:'#customElement', showControls:false, autoPlay:true, loop:true, mute:true, startAt:0, opacity:1, addRaster:true, quality:'highres'}"></div>

