<div id="customElement">
<div class="container">
  <div class="row">
    <div class="col m12 text-block">
      <center>
        <h1 class="header center white-text" id="apply-text">Australia's only accredited <br> coding bootcamp.</h1>
        <div class="row center">
          <h5 class="header col s12 light" id="apply-text">Apply here for the Fast Track to an exciting career in tech.</h5>
        </div>
        <div class="row center">
          <a href="/apply" id="download-button" class="btn-large waves-effect waves-light">Apply here</a>
          <a href="/contact" id="download-button" class="btn-large waves-effect waves-light">Enquire</a>
        </div>
        <br><br>
      </center>
    </div>
  </div>
  </div>
</div>
<div id="video" class="player" data-property="{videoURL: '<%= @video_code %>',containment:'#customElement', showControls:false, autoPlay:true, loop:true, mute:true, startAt:0, opacity:1, addRaster:true, quality:'highres'}"></div>
