<div id="customElement">
<div class="container">
  <div class="row">
    <div class="col m12 text-block">
      <center>
        <div class="down">
          <h1 class="header center white-text" id="apply-text">BECOME A FULL STACK DEVELOPER<br> IN 23 WEEKS</h1>
          <div class="row center">

            <h4 class="header col s12 light" id="apply-text">Australia's only accredited coding bootcamp</h4>
          </div>
          <div class="col l6 offset-l3 m12 s12">
            <a class="btn-large btn-extra-large info-session-button white-text waves-effect waves-light" href="information-sessions/new"><i class="fa fa-info-circle left"></i> ATTEND AN INFO NIGHT</a>
          </div>
          <div class="hide-on-large-only"><br><br><br></div>
        </div>
      </center>
    </div>
  </div>
  </div>
</div>
<div id="video" class="player" data-property="{videoURL: '<%= @video_code %>',containment:'#customElement', showControls:false, autoPlay:true, loop:true, mute:true, startAt:0, opacity:1, addRaster:true, quality:'highres'}"></div>
